#!/bin/bash

GIT_SWITCH_ME_NAME=""
GIT_SWITCH_ME_EMAIL=""
GIT_SWITCH_ME_GPG_SEC=""

GIT_SWITCH_WORK_NAME=""
GIT_SWITCH_WORK_EMAIL=""
GIT_SWITCH_WORK_GPG_SEC=""

GLGC_TOKEN=""

GCPKC_DEFAULT_CLUSTER=""
GCPKC_DEFAULT_REGION=""
